/venv
/__pycache__
/build
main.spec
/dist/terms
/notas_remocao
/termos_assinados
/terms

database_mysql.py

"""
import pymysql

DB_CONFIG = {
    "host": "localhost",
    "user": "seu_usuario",        # Substitua pelo seu usuário do MySQL
    "password": "sua_senha",           # Substitua pela sua senha
    "database": "nome_do_banco",      # Substitua pelo nome do seu banco de dados
    "charset": "utf8mb4",
    "cursorclass": pymysql.cursors.DictCursor
}

def get_connection():
    return pymysql.connect(**DB_CONFIG)


"""